#search{
	p{text-indent:1.2em;
		b{font-size:16px}
	}
	.u1{font-size:12px;margin:0px ;padding:0px;height:30px;line-height:30px;
		li{list-style:none;display:inline-block;margin:0 6px;background:#ddd;padding:0 10px;}
	}
	.u2{margin:0px ;padding:0px;height:300px;border-bottom:1px solid #ddd;
		li{list-style:none;height:40px;line-height:40px;border-bottom:1px solid #ddd;margin-left:10px}
	}
	button{width:140px;height:30px;text-align:center;margin-top:20px}
	.but{text-align:center; }
}