#film{
	ul{


		li{background: #fff;

				float: left;
			img{
				width: 25%;
				float: left;
			}
			h3{
				font-weight: 100;
				font-size: 16px;
				margin-top: 5px;
			}
			.temp{

				width: 75%;
				height: 31px;
				float: right;
				margin-top: 13%;
			}
			p{	

				font-size: 12px;
				width: 20%;

				color: #afafaf;
				text-decoration: line-through;
			}
			h4{
				display: inline-block;
				font-size: 16px;
				width: 20%;
				float: left;
				color: red;
				font-weight: 100;
			}
			h5{
				font-size: 12px;
				font-weight: 100;
				color:#999;
				float: right;
				margin-right: 10px;
			}
		}
	}
}






















