#my{li{list-style:none;text-align:center;height:100px}
	ul{margin:0px;padding:0px}
	.u1,.u2{display:flex;margin: 0 ;padding:0;justify-content: space-between; 
		li{
			flew:1;list-style:none;text-align:center;margin:0 5px
		}
	}
	.u3{display:flex;flex-wrap: wrap;
		li{width:25%}
	}
}